<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <client>
            <endpoint address="http://localhost:9999/HospitalService" binding="basicHttpBinding"
                bindingConfiguration="" contract="HospitalInterfaces.IWCFHospitalService"
                name="Hospital Service Endpoint" kind="" endpointConfiguration="" />
        </client>
    </system.serviceModel>
</configuration>